USE [master]
GO
/****** Object:  Database [DB_QLST]    Script Date: 12/30/2022 10:26:45 PM ******/
CREATE DATABASE [DB_QLST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLST', FILENAME = N'D:\SqlServer2019\SQLServer2019LuuPhienBan\MSSQL15.NHANMIU263\MSSQL\DATA\DB_QLST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QLST_log', FILENAME = N'D:\SqlServer2019\SQLServer2019LuuPhienBan\MSSQL15.NHANMIU263\MSSQL\DATA\DB_QLST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QLST]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANG] [char](10) NOT NULL,
	[TENHANG] [nvarchar](60) NULL,
	[MALOAIHH] [char](5) NULL,
	[MANCC] [char](5) NULL,
	[GIABAN] [money] NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](15) NULL,
 CONSTRAINT [PK_HH] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_HDNH]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDNH](
	[SOHDNHAP] [char](10) NOT NULL,
	[MAHANG] [char](10) NOT NULL,
	[MALOAIHH] [char](5) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](15) NULL,
	[TONGTIENSAUGIAMGIA] [money] NULL,
 CONSTRAINT [PK_CTHDNH] PRIMARY KEY CLUSTERED 
(
	[SOHDNHAP] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ThongKeNhapVao_View]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongKeNhapVao_View] 
AS SELECT HANGHOA.TENHANG as "Tên Mặt Hàng", SUM(CHITIET_HDNH.SOLUONG) AS "Số Lượng", Sum(CHITIET_HDNH.TONGTIENSAUGIAMGIA) as "Thành tiền"
FROM CHITIET_HDNH, HANGHOA
WHERE HANGHOA.MAHANG = CHITIET_HDNH.MAHANG
GROUP BY HANGHOA.TENHANG;
GO
/****** Object:  Table [dbo].[CHITIET_HDBH]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDBH](
	[SOHD] [char](10) NOT NULL,
	[MAHANG] [char](10) NOT NULL,
	[MALOAIHH] [char](5) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](15) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_CTHDBH] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ThongKeXuatRa_View]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongKeXuatRa_View]
AS SELECT HANGHOA.TENHANG as "Tên Mặt Hàng", SUM(CHITIET_HDBH.SOLUONG) AS "Số Lượng", Sum(CHITIET_HDBH.TONGTIEN) as "Thành tiền"
FROM CHITIET_HDBH, HANGHOA
WHERE HANGHOA.MAHANG = CHITIET_HDBH.MAHANG
GROUP BY HANGHOA.TENHANG;
GO
/****** Object:  View [dbo].[ThongKeTonKho_View]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThongKeTonKho_View]
AS SELECT HANGHOA.TENHANG as "Tên Mặt Hàng", SUM(CHITIET_HDNH.SOLUONG - CHITIET_HDBH.SOLUONG) AS "Số Lượng"
FROM CHITIET_HDNH, HANGHOA,CHITIET_HDBH
WHERE HANGHOA.MAHANG = CHITIET_HDNH.MAHANG and HANGHOA.MAHANG = CHITIET_HDBH.MAHANG
GROUP BY HANGHOA.TENHANG;
GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[SOHD] [char](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[NVLAPHD] [char](5) NULL,
	[MAKH] [char](5) NULL,
	[MAHANG] [char](10) NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_HDBH] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[SOHDNHAP] [char](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[NVNHAPHD] [char](5) NULL,
	[MANCC] [char](5) NULL,
	[MAHANG] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](15) NULL,
	[TONGTIEN] [money] NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_HDNH] PRIMARY KEY CLUSTERED 
(
	[SOHDNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](5) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DCHI] [nvarchar](120) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[MALOAIHH] [char](5) NOT NULL,
	[TENLOAIHH] [nvarchar](60) NULL,
 CONSTRAINT [PK_LOAIHH] PRIMARY KEY CLUSTERED 
(
	[MALOAIHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](5) NOT NULL,
	[TENNCC] [nvarchar](120) NULL,
	[DCHI] [nvarchar](120) NULL,
	[SDT] [char](10) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[CHUCVU] [nvarchar](60) NULL,
	[MAQUYEN] [char](5) NULL,
	[ID] [char](20) NULL,
	[PASS] [char](100) NULL,
	[NGAYCONG] [int] NULL,
	[LUONGCOBAN] [money] NULL,
	[TONGLUONG] [money] NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/30/2022 10:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQUYEN] [char](5) NOT NULL,
	[TENQUYEN] [nvarchar](20) NULL,
 CONSTRAINT [PK_PQ] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIET_HDBH] ([SOHD], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIEN]) VALUES (N'HD001     ', N'HH004     ', N'TBDT ', 1, N'CÁI', 12450000.0000)
INSERT [dbo].[CHITIET_HDBH] ([SOHD], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIEN]) VALUES (N'HD002     ', N'HH008     ', N'TC   ', 10, N'KG', 180000.0000)
INSERT [dbo].[CHITIET_HDBH] ([SOHD], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIEN]) VALUES (N'HD003     ', N'HH007     ', N'TC   ', 2, N'KG', 90000.0000)
GO
INSERT [dbo].[CHITIET_HDNH] ([SOHDNHAP], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIENSAUGIAMGIA]) VALUES (N'HDN01     ', N'HH001     ', N'DTDD ', 100, N'CÁI', 1039200000.0000)
INSERT [dbo].[CHITIET_HDNH] ([SOHDNHAP], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIENSAUGIAMGIA]) VALUES (N'HDN02     ', N'HH002     ', N'DTDD ', 50, N'CÁI', 1120000000.0000)
INSERT [dbo].[CHITIET_HDNH] ([SOHDNHAP], [MAHANG], [MALOAIHH], [SOLUONG], [DVT], [TONGTIENSAUGIAMGIA]) VALUES (N'HDN03     ', N'HH003     ', N'TBDT ', 50, N'CÁI', 556000000.0000)
GO
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [MALOAIHH], [MANCC], [GIABAN], [SOLUONG], [DVT]) VALUES (N'HH001     ', N'XIAOMI MI 10T PRO', N'DTDD ', N'MI   ', 12990000.0000, 100, N'CÁI')
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [MALOAIHH], [MANCC], [GIABAN], [SOLUONG], [DVT]) VALUES (N'HH002     ', N'SAMSUNG S21 ULTRA', N'DTDD ', N'SS   ', 28000000.0000, 100, N'CÁI')
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [MALOAIHH], [MANCC], [GIABAN], [SOLUONG], [DVT]) VALUES (N'HH003     ', N'Máy ảnh Sony Alpha ILCE-6000L', N'TBDT ', N'SN   ', 13900000.0000, 100, N'CÁI')
GO
INSERT [dbo].[HOADONBANHANG] ([SOHD], [NGAYLAP], [NVLAPHD], [MAKH], [MAHANG], [TONGTIEN]) VALUES (N'HD001     ', CAST(N'2021-03-01T08:27:00.000' AS DateTime), N'NV003', N'KH001', N'HH004     ', 12450000.0000)
INSERT [dbo].[HOADONBANHANG] ([SOHD], [NGAYLAP], [NVLAPHD], [MAKH], [MAHANG], [TONGTIEN]) VALUES (N'HD002     ', CAST(N'2021-03-02T09:56:00.000' AS DateTime), N'NV003', N'KH003', N'HH008     ', 180000.0000)
INSERT [dbo].[HOADONBANHANG] ([SOHD], [NGAYLAP], [NVLAPHD], [MAKH], [MAHANG], [TONGTIEN]) VALUES (N'HD003     ', CAST(N'2021-03-06T18:13:00.000' AS DateTime), N'NV003', N'KH002', N'HH007     ', 90000.0000)
GO
INSERT [dbo].[HOADONNHAPHANG] ([SOHDNHAP], [NGAYNHAP], [NVNHAPHD], [MANCC], [MAHANG], [SOLUONG], [DVT], [TONGTIEN], [GIAMGIA]) VALUES (N'HDN01     ', CAST(N'2021-01-20T06:00:00.000' AS DateTime), N'NV001', N'MI   ', N'HH001     ', 100, N'CÁI', 1299000000.0000, 0.2)
INSERT [dbo].[HOADONNHAPHANG] ([SOHDNHAP], [NGAYNHAP], [NVNHAPHD], [MANCC], [MAHANG], [SOLUONG], [DVT], [TONGTIEN], [GIAMGIA]) VALUES (N'HDN02     ', CAST(N'2021-01-21T06:00:00.000' AS DateTime), N'NV001', N'SS   ', N'HH002     ', 50, N'CÁI', 1400000000.0000, 0.2)
INSERT [dbo].[HOADONNHAPHANG] ([SOHDNHAP], [NGAYNHAP], [NVNHAPHD], [MANCC], [MAHANG], [SOLUONG], [DVT], [TONGTIEN], [GIAMGIA]) VALUES (N'HDN03     ', CAST(N'2021-01-22T06:00:00.000' AS DateTime), N'NV001', N'SN   ', N'HH003     ', 50, N'CÁI', 695000000.0000, 0.2)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DCHI], [SDT]) VALUES (N'KH001', N'TRẦN LAN ANH', N'65 NGUYỄN ĐỖ CUNG, TÂY THẠNH, TÂN PHÚ, TP. HCM', N'0354452248')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DCHI], [SDT]) VALUES (N'KH002', N'NGUYỄN HÙNG DŨNG', N'32 DƯƠNG ĐỨC HIỀN, TÂY THẠNH, TÂN PHÚ, TP. HCM', N'0394235687')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DCHI], [SDT]) VALUES (N'KH003', N'NGUYỄN VĂN TÈO', N'44/44 BÙI VĂN BA, TÂN THUẬN ĐÔNG, QUẬN 7, TP. HCM', N'0361234567')
GO
INSERT [dbo].[LOAIHANGHOA] ([MALOAIHH], [TENLOAIHH]) VALUES (N'DCTE ', N'ĐỒ CHƠI TRẺ EM')
INSERT [dbo].[LOAIHANGHOA] ([MALOAIHH], [TENLOAIHH]) VALUES (N'DTDD ', N'ĐIỆN THOẠI DI DỘNG')
INSERT [dbo].[LOAIHANGHOA] ([MALOAIHH], [TENLOAIHH]) VALUES (N'QA   ', N'QUẦN ÁO')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DCHI], [SDT]) VALUES (N'B8   ', N'BÀ 8 RAU SẠCH', N'72 Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh', N'0938875600')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DCHI], [SDT]) VALUES (N'CCB  ', N'CHỢ CÁI BÈ', N'TT. Cái Bè, Cái Bè, Tiền Giang, Việt Nam', N'0283744233')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DCHI], [SDT]) VALUES (N'CN   ', N'ĐỒ CHƠI CHỊ NA', N'92-94 Nam Kỳ Khởi Nghĩa, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh', N'0283821181')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [MAQUYEN], [ID], [PASS], [NGAYCONG], [LUONGCOBAN], [TONGLUONG]) VALUES (N'NV001', N'PHẠM DOÃN NGUYÊN TÙNG', N'QUẢN LÍ', N'AD   ', N'admin1              ', N'33354741122871651676713774147412831195                                                              ', 30, 9000000.0000, 9000000.0000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [MAQUYEN], [ID], [PASS], [NGAYCONG], [LUONGCOBAN], [TONGLUONG]) VALUES (N'NV002', N'NGUYỄN CHÍ THANH', N'QUẢN LÍ', N'AD   ', N'admin2              ', N'33354741122871651676713774147412831195                                                              ', 60, 9000000.0000, 18000000.0000)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU], [MAQUYEN], [ID], [PASS], [NGAYCONG], [LUONGCOBAN], [TONGLUONG]) VALUES (N'NV003', N'TRẦN THIỆN', N'NHÂN VIÊN', N'NV   ', N'nhanvien1           ', N'4247164254471675524141239451812313427126                                                            ', 15, 5000000.0000, 2500000.0000)
GO
INSERT [dbo].[PHANQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'AD   ', N'ADMIN')
INSERT [dbo].[PHANQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'NV   ', N'NHÂN VIÊN THƯỜNG')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNI_HOTEN]    Script Date: 12/30/2022 10:26:45 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UNI_HOTEN] UNIQUE NONCLUSTERED 
(
	[TENNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__3214EC26F7159137]    Script Date: 12/30/2022 10:26:45 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_LUONGCB]  DEFAULT ((5000000)) FOR [LUONGCOBAN]
GO
ALTER TABLE [dbo].[CHITIET_HDBH]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBH_HDBH] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADONBANHANG] ([SOHD])
GO
ALTER TABLE [dbo].[CHITIET_HDBH] CHECK CONSTRAINT [FK_CTHDBH_HDBH]
GO
ALTER TABLE [dbo].[CHITIET_HDNH]  WITH CHECK ADD  CONSTRAINT [FK_CTHDNH_HDNH] FOREIGN KEY([SOHDNHAP])
REFERENCES [dbo].[HOADONNHAPHANG] ([SOHDNHAP])
GO
ALTER TABLE [dbo].[CHITIET_HDNH] CHECK CONSTRAINT [FK_CTHDNH_HDNH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HH_LHH] FOREIGN KEY([MALOAIHH])
REFERENCES [dbo].[LOAIHANGHOA] ([MALOAIHH])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HH_LHH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HH_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HH_NCC]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBH_HH] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HDBH_HH]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBH_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HDBH_KH]
GO
ALTER TABLE [dbo].[HOADONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBH_NV] FOREIGN KEY([NVLAPHD])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBANHANG] CHECK CONSTRAINT [FK_HDBH_NV]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDNH_HH] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDNH_HH]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDNH_NV] FOREIGN KEY([NVNHAPHD])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDNH_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PQ] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_PQ]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_MAKH] CHECK  (([MAKH] like 'KH%'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CHK_MAKH]
GO
USE [master]
GO
