<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="TaThiMinhNhut_PhamDoanNguyenTung_QLSieuThi.Properties.Settings.DB_QLSTConnectionString"
        connectionString="Data Source=DESKTOP-VL7UGOA\NHANMIU263;Initial Catalog=DB_QLST;User ID=sa"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
